In [1]:
import numpy as np
import pandas as pd
import os

Пишем общий класс, который объединяет все файлы в нужных форматах

In [2]:
class ConvertToObject:
    '''
    Class of all object.
    '''
    

    def to_xml(self, path_file, index = -1):
        # get path of file and open file in xml. After put in dict
        data = pd.read_xml(path_file)
        if index == -1:
            self.dict_obj[path_file] = data
        else:
            self.dict_obj[self.name_files[index]] = data

    def to_csv(self, path_file, index = -1):
        # get path of file and open file in csv. After put in dict
        data = pd.read_csv(path_file)
        if index == -1:
            self.dict_obj[path_file] = data
        else:
            self.dict_obj[self.name_files[index]] = data

    def to_xls(self, path_file, index = -1):
        # get path of file and open file in xls. After put in dict
        data = pd.read_excel(path_file)

        # when file from world bank
        data = data.iloc[2:, :]
        data.drop(data.columns[[1,2,3]], axis=1 ,inplace=True)
        data.index = data.iloc[:, 0].tolist()
        data.drop(data.columns[[0]], axis=1 ,inplace=True)
        data.columns = data.iloc[0, :].astype(int).tolist()
        data = data.iloc[1:, :]

        if index == -1:
            self.dict_obj[path_file] = data
        else:
            self.dict_obj[self.name_files[index]] = data

        

    def __init__(self):
        self.path_files = []
        self.name_files = []
        self.dict_obj = dict()


        to_directory = os.getcwd() + "/datasets/"
        self.name_files = os.listdir(to_directory)

        for i in range(len(self.name_files)):
            self.path_files.append(os.path.join(to_directory, self.name_files[i]))
            
            end_of_namefiles = self.name_files[i][-3:]

            if end_of_namefiles == "xls":
                self.to_xls(self.path_files[i], i)
            elif end_of_namefiles == "xml":
                self.to_xml(self.path_files[i], i)
            elif end_of_namefiles == "csv":
                self.to_csv(self.path_files[i], i)



obj = ConvertToObject()

Здесь уже надо обработать каждый файл по отдельности((((

In [3]:
db = obj.dict_obj.copy()

In [16]:
" + ".join(obj.name_files)

'.DS_Store + nakoplenia_ludei.xls + rashodi_na_med.xls + chislo_ubistv.xls + inflazia.xls + nalogi.xls + procent_tryd_naselenia.xls + cost-of-living.csv + trati_na_obraz.xls + README.md + rogdaemost.xls + patenti.csv + happiness2017.csv + voennie_trati.xls + bezrabotiza.xls + vvp_pps_na_dyshy.xls + vvp.xls'

In [4]:
YEAR = 2017

In [5]:
sample_1 = db["cost-of-living.csv"]
sample_1

,Unnamed: 0,city,country,x1,x2,x3,x4,x5,x6,x7,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
0,0,Delhi,India,4.90,22.04,4.28,1.84,3.67,1.78,0.48,...,36.26,223.87,133.38,596.16,325.82,2619.46,1068.90,586.35,7.96,1
1,1,Shanghai,China,5.59,40.51,5.59,1.12,4.19,3.96,0.52,...,121.19,1080.07,564.30,2972.57,1532.23,17333.09,9174.88,1382.83,5.01,1
2,2,Jakarta,Indonesia,2.54,22.25,3.50,2.02,3.18,2.19,0.59,...,80.32,482.85,270.15,1117.69,584.37,2694.05,1269.44,483.19,9.15,1
3,3,Manila,Philippines,3.54,27.40,3.54,1.24,1.90,2.91,0.93,...,61.82,559.52,281.78,1754.40,684.81,3536.04,2596.44,419.02,7.80,1
4,4,Seoul,South Korea,7.16,52.77,6.03,3.02,4.52,3.86,1.46,...,108.30,809.83,583.60,2621.05,1683.74,21847.94,10832.90,2672.23,3.47,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4869,4869,Peterborough,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4870,4870,Georgetown,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4871,4871,Ixtapa Zihuatanejo,Mexico,5.19,31.13,12.97,0.99,NaN,1.82,0.62,...,103.78,415.11,259.44,518.89,415.11,NaN,NaN,NaN,NaN,0
4872,4872,Iqaluit,Canada,29.78,74.61,13.77,6.70,8.93,3.72,3.54,...,NaN,NaN,NaN,2978.11,2978.11,NaN,NaN,NaN,6.53,0
4873,4873,Neiafu,Tonga,NaN,29.53,10.55,10.55,NaN,NaN,2.11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [6]:
sample_2 = db["happiness2017.csv"]
sample_2.index = sample_2.iloc[:, 0].tolist()
sample_2.drop(sample_2.columns[[0]], axis=1, inplace=True)
sample_2

,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182
...,...,...,...,...,...,...,...,...,...,...,...
Rwanda,151,3.471,3.543030,3.398970,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061
Syria,152,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574
Tanzania,153,3.349,3.461430,3.236570,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130
Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024
Central African Republic,155,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005

In [7]:
sample_3 = db["patenti.csv"]
sample_3.drop(sample_3.columns[[1,2,3,-1]], axis=1 ,inplace=True)
sample_3.index = sample_3.iloc[:, 0].tolist()
sample_3.drop(sample_3.columns[[0]], axis=1 ,inplace=True)
sample_3.columns = sample_3.columns.map(int)
sample_3

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Africa Eastern and Southern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Africa Western and Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.0,2.0,85.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,36.0,43.0,29.0,5.0,16.0,15.0,NaN,60.0,60.0,NaN
South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,608.0,638.0,802.0,889.0,704.0,728.0,657.0,567.0,542.0,NaN
Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,13.0,14.0,20.0,15.0,12.0,11.0,2.0,16.0,NaN
Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,8.0,NaN,NaN,NaN,NaN,NaN

In [8]:
GLOBAL_DATASET = pd.DataFrame()

for name in obj.name_files:
    end_of_name = name[-3:]
    if end_of_name == "xls":
        temp = obj.dict_obj[name][YEAR].rename(name)
        GLOBAL_DATASET = pd.concat([GLOBAL_DATASET, temp], axis=1)

GLOBAL_DATASET = pd.concat([GLOBAL_DATASET, sample_3[YEAR].rename("patenti.csv")], axis=1)
GLOBAL_DATASET = GLOBAL_DATASET.join(sample_2["Happiness.Score"], how='outer')
GLOBAL_DATASET

,nakoplenia_ludei.xls,rashodi_na_med.xls,chislo_ubistv.xls,inflazia.xls,nalogi.xls,procent_tryd_naselenia.xls,trati_na_obraz.xls,rogdaemost.xls,voennie_trati.xls,bezrabotiza.xls,vvp_pps_na_dyshy.xls,vvp.xls,patenti.csv,Happiness.Score
Afghanistan,NaN,12.620817,6.678401,4.975952,71.400000,90.543094,3.373310,37.342000,0.945227,NaN,2096.093111,1.889635e+10,NaN,3.794
Africa Eastern and Southern,19.969403,6.317424,NaN,6.399343,43.068000,83.930999,4.862555,34.892547,1.484722,NaN,3635.564622,1.030482e+12,NaN,NaN
Africa Western and Central,17.955235,3.789624,NaN,1.764635,50.472727,88.268982,3.430220,37.881661,0.883374,NaN,4045.303263,6.837480e+11,NaN,NaN
Albania,16.529364,5.012636,2.010978,2.060598,37.300000,46.723001,3.611730,10.870000,1.108696,NaN,12770.987862,1.301969e+10,16.0,4.644
Algeria,38.726069,6.279384,NaN,5.591116,66.100000,54.679122,6.505380,24.755000,5.924383,0.534320,11809.483033,1.700970e+11,149.0,5.872
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
World,26.583623,9.764235,5.906906,2.192010,40.353968,55.113673,4.085540,18.699856,2.173431,2.133632,16155.824378,8.140950e+13,2243300.0,NaN
Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.593
"Yemen, Rep.",NaN,NaN,NaN,NaN,26.600000,78.175060,NaN,32.713000,NaN,NaN,NaN,2.684223e+10,15.0,NaN
Zambia,36.252465,4.376977,NaN,6.577312,15.600000,87.051023,3.729640,36.601000,1.309596,NaN,3395.479686,2.587360e+10,12.0,4.514
Zimbabwe,-2.682417,7.469752,NaN,0.893962,31.600000,83.101286,5.818780,32.516000,0.387831,NaN,2331.780833,1.758489e+10,NaN,3.875

In [12]:
GLOBAL_DATASET.to_csv(os.getcwd()+"/global_data.csv", index=True, sep=';')